<div class="container">
  <div class="topBar"></div>
  <div class="column colL"></div>
  <div class="column colR"></div>
  <div class="gate gateL"></div>
  <div class="gate gateR"></div>

</div>
<style>
  html{
    width: 100vw;
    height: 100vh;
    background: #0B2429;
  }
  .gate{
    width:100px;
    height:40px;
    background-color:#A7C2FA;
  }
  .gateL{
    margin-top:-60px;
    margin-left:12px;
  }
  .gateR{
    margin-top:-40px;
    margin-left:272px;
  }

  .topBar{
    width:360px;
    height:40px;
    background-color:#A7C2FA;
    margin-left:12px;
    margin-top:20px;
  }
  .colL{
    margin-left:22px;
  }
  .colR{
    margin-left:322px;
    margin-top:-220px
  }
  .column{
    width:40px;
    height:220px;
    background-color:#A7C2FA;
  }

</style>

<!-- OBJECTIVE -->
<!-- Write HTML/CSS in this editor and replicate the given target image in the least code possible. What you write here, renders as it is -->

<!-- SCORING -->
<!-- The score is calculated based on the number of characters you use (this comment included :P) and how close you replicate the image. Read the FAQS (https://cssbattle.dev/faqs) for more info. -->

<!-- IMPORTANT: rem
ove the comments before submitting -->








<div class="container">
  <div class="topBar"></div>
  <div class="column colL"></div>
  <div class="column colR"></div>
  <div class="gate gateL"></div>
  <div class="gate gateR"></div>

</div>
<style>
  body{
    background:#0B2429;
  }
  .container{
    position:relative;
    width:400px;
    margin:20px 12px;
  }
  .topBar{
    position:absolute;
    width:360px;
    height:40px;
  }
  .column{
    position:absolute;
    width:40px;
    height:220px;
    top:40px;
    left:10px
  }
  .colR{
    left:310px;
  }
  .gate{
    position:absolute;
    width:100px;
    height:40px;
    top:200px;
  }
  .gateR{
    left:260px;
  }

  .topBar,.column,.gate{
    background:#A7C2FA
  }


</style>

<!-- OBJECTIVE -->
<!-- Write HTML/CSS in this editor and replicate the given target image in the least code possible. What you write here, renders as it is -->

<!-- SCORING -->
<!-- The score is calculated based on the number of characters you use (this comment included :P) and how close you replicate the image. Read the FAQS (https://cssbattle.dev/faqs) for more info. -->

<!-- IMPORTANT: remove the comments before submitting -->